/* CSS for small screens */
.cmp-s300-product-carousel {
    overflow: hidden; /* Hide the overflow */
  }
  .model-heading {
    font-family: "mclaren-bespoke, 'Courier New', Arial";
    font-weight: lighter;
    font-size: 45px;
    color: #363f45;
    margin-top: 57px;
    margin-left: 120px;
    letter-spacing: 3px;
  }
  
  .model-slider {
    margin-top: 20px; 
    cursor: none;
  }

  .model-slider img{
    width:640px;
    height:270px;
    margin-left: 380px;
  }
  .cmp-s300-product-carousel {
    overflow: hidden; /* Hide the overflow */
  }
  .model-heading {
    font-family: "mclaren-bespoke, 'Courier New', Arial";
    font-weight: lighter;
    font-size: 45px;
    color: #363f45;
    margin-top: 57px;
    margin-left: 120px;
    letter-spacing: 3px;
  }
  
  .model-slider {
    margin-top: 20px; 
    cursor: none;
  }

  .model-slider img{
    width:640px;
    height:270px;
    margin-left: 380px;
  }
  .cmp-s300-product-carousel {
    overflow: hidden; /* Hide the overflow */
  }
  .model-heading {
    font-family: "mclaren-bespoke, 'Courier New', Arial";
    font-weight: lighter;
    font-size: 45px;
    color: #363f45;
    margin-top: 57px;
    margin-left: 120px;
    letter-spacing: 3px;
  }
  
  .model-slider {
    margin-top: 20px; 
  }

  .model-slider img{
    width:640px;
    height:270px;
    margin-left: 380px;
  }


  .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
  }
  
  .center-align img{
    height: 60px;
    width: 400px;
  }
  
  .buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .discover-btn {
    background: linear-gradient(to right, #ff8000, #e85e0f);
    border: none;
    border-radius: 60px;
    box-shadow: rgba(233, 89, 20, 0.6) 0px 12px 24px 0px;
    padding: 0.9rem 5.4rem;
    margin-right: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
  }
  
  .view-all-btn {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 60px;
    padding: 0.7rem 4.1rem;
    color: #363f45;
    font-size: 12px;
  }
  
  .bar-container {
    width: 90%;
    margin-top: 40px;
    margin-left: 80px;
  }
  
  .bar {
    height: 5px;
    border-radius: 20px;
    float: left;
  }
  
  .custom-cursor p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Show the custom cursor when dragging */
  .model-slider.dragging .custom-cursor {
    display: block;
  }

  .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
  }
  
  .center-align img{
    height: 60px;
    width: 400px;
  }
  
  .buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .discover-btn {
    background: linear-gradient(to right, #ff8000, #e85e0f);
    border: none;
    border-radius: 60px;
    box-shadow: rgba(233, 89, 20, 0.6) 0px 12px 24px 0px;
    padding: 0.9rem 5.4rem;
    margin-right: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
  }
  
  .view-all-btn {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 60px;
    padding: 0.7rem 4.1rem;
    color: #363f45;
    font-size: 12px;
  }
  
  .bar-container {
    width: 90%;
    margin-top: 40px;
    margin-left: 80px;
  }
  
  .bar {
    height: 5px;
    border-radius: 20px;
    float: left;
  }

  .custom-cursor p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Show the custom cursor when dragging */
  .model-slider.dragging .custom-cursor {
    display: block;
  }

  .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
  }
  
  .center-align img{
    height: 60px;
    width: 400px;
  }
  
  .buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .discover-btn {
    background: linear-gradient(to right, #ff8000, #e85e0f);
    border: none;
    border-radius: 60px;
    box-shadow: rgba(233, 89, 20, 0.6) 0px 12px 24px 0px;
    padding: 0.9rem 5.4rem;
    margin-right: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
  }
  
  .view-all-btn {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 60px;
    padding: 0.7rem 4.1rem;
    color: #363f45;
    font-size: 12px;
  }
  
  .bar-container {
    width: 90%;
    margin-top: 40px;
    margin-left: 80px;
  }
  
  .bar {
    height: 5px;
    border-radius: 20px;
    float: left;
  }
  .btn1 {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.392);
    font-weight: 600;
    padding: 12px 20px;
    margin-bottom: 5px;
    font-family: soho-gothic-pro, Arial, sans-serif;
    color: #363f44;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 15px;
    margin-top: 10px;
}

  @media (max-width: 600px) {
    .buttons2 {
      display: flex;
      flex-direction: column;
      gap:10px;
    }
    .bar-container {
      width: 70%;
    }
    .model-heading {
      font-size: 25px;
    }
    .bar-container {
      margin-left: 60px;
    }
    .center-align img{
      height: 49px;
      width: 318px;
      margin-left: 7px;
    }
  }