#app {
  position: relative; 
  background-image: url('../assets/home.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  transition: background-position-x 0.5s ease;
}
 
  
  #app:hover {
    background-position-x: calc(50% - 40px); /* Move background image left on hover */
  }

  .bodys {
    position: absolute; /* Position the text and button relative to #app */
    top: 40%; /* Center vertically */
    left:25%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the content */
    transition: transform 0.3s ease; /* Adding transition for smooth animation */
  }
  body {
    font-size: 16px; /* Adjust this value to match your font size */
    line-height: 1;
  }
  .bodys p {
    color: white;
    font-weight: 500;
    margin-left: 0; /* Adjusted margin to be back on the left side */
    transition: transform 0.3s ease; /* Adding transition for smooth animation */
  }
  
  .bodys .title {
    font-size: 28px;
    font-family: soho-gothic-pro, Arial, sans-serif;
    letter-spacing: 0.96px;
    color: white;
    transition: transform 0.3s ease; /* Adding transition for smooth animation */
  }
  
  .bodys .subtitle {
    font-size: 73px;
    font-family: mclaren-bespoke, "Courier New", Arial;
    transition: transform 0.3s ease; /* Adding transition for smooth animation */
  }
  
  .bodys button {
    border-radius: 60px;
    box-shadow: rgba(233, 89, 20, 0.4) 0px 8px 20px 0px;
    background: linear-gradient(to right, #ce6f0f, #ff4d00);
    color: white;
    padding: 0.9rem 2.9rem;
    border: none;
    outline: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: soho-gothic-pro, Arial, sans-serif;
    margin-left: 0;
    transition:  transform 0.3s ease; 
  }
  
  #app:hover .bodys {
    transform: translate(-50%, -50%) ;
  }
  
  #app:hover .bodys p,
  #app:hover .bodys .title,
  #app:hover .bodys .subtitle,
  #app:hover .bodys button {
    transform: translateX(35px);
  }

  .mr-auto img{
    width: 200px;
  }
  .ml-auto{
    margin-top: 10px;
  }

  #basic-nav-dropdown{
    font-size: 13px; 
    top:5;
    letter-spacing: 3px;
    line-height: 20px;
  }
   
  .navbar-custom {
    background-color: transparent !important;
    color: white !important;
    display: flex;
  }

 .buttons{
  width: 100%;
  margin-top:10px;
  margin-right: 60px;
 }

.navbar-custom .nav-link {
    color: white !important;
}
  
.find{
  background-color:transparent;
  color:white;
   font-size:12px;
   font-weight: bolder;
   outline:none;
   border:1px solid white;
   display: inline-flex;
   opacity: .75;
   transition: opacity .2s ease;
   padding: 8px 10px;
   letter-spacing: 2px;
   margin-top: 10px;
  float: right;
  margin-right: 10px;
}
.menu{
  margin-top: 10px;
  font-size: 20px;
}
.close-button{
  border: none;
  outline: none;
  background-color: transparent;
}
.small-svg {
  width: 35px;
  height: 20px;
}
.xs-svg{
  width: 21px;
    height: 12px;
    margin-left: 6px;
}

  .offcanvas-bodys{
    margin-top: 20px;
  }
  
  .AccordionHeader {
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 70%;
  }
  .accordion-button:hover{
    color:rgb(69, 19, 19)
  }
  .accordion-item .accordion-header .accordion-button{
    background-color: transparent;
    color: white;
    border: none;
  }

  .items{
    background-color: transparent;
    border: none;
  }


  .AccordionBody {
    background-color:transparent;
    padding: 10px;
    border-top: none; 
    color: white;
  }
  .sub-categories {
    padding-left: 20px;
  }
  
  .sub-category {
    display: block;
    padding: 5px 0;
    color: white;
    text-decoration: none;
  }
  
  .offcanvas-body {
    padding: 0;
    overflow: hidden;
  }
  
  .category-container {
    position: relative;
  }
  .category {
    margin-top: 20px;
    margin-left: 30px;
    position: relative; 
  }
  .line{
    background-color:#78838a;
    margin-left: 43px;
    height: 1px;
    margin-bottom: 2rem;
    width: 2.5rem;
  }
  .category-button{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
  }
  .icon svg {
    fill: currentColor;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .cta {
    display: inline-block;
    font-family: soho-gothic-pro, Arial, sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2rem;
    margin-top: -0.5rem;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .category .sub-categories {
    display: none;
    position: absolute;
    margin-left: 21px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    height: 400px;
   
  }
  
  .sub-categories {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  .sub-categories {
    padding: 10px;
    border-radius: 4px;
  }
  


  .offcanvas-body {
    padding: 0;
    overflow: hidden;
  }
  
  .offcanvas-body {
    background-color: transparent; /* Change the background color */
  }
  
  .logo{
    height: 47px;
    width: 200px;
    margin-left: 100px;
  }

  .image-container {
    position: relative;
    display: inline-block;
    color: linear-gradient(196deg ,#181c20, #363f44 );
}

.overlay {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    height:125%;
    background-color:  rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container:hover .overlay {
    opacity: 1; 
}

.button-container {
    margin-top: 340px;
}
.btn15{
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.6);
  height:1.8rem;
  width: 5.8rem;
  margin: 0 5px;
}
.btn12{
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.6);
  height:1.8rem;
  width: 9.8rem;
}
.cars{
  height: 110px;
  width: 200px;
}


@media (min-width: 1220px) {
  .model-toggle {
    display: none;
  }
}
@media (max-width: 600px) {
  .logo{
    margin-left: 10px;
    width: 146px;
    height: 36px;
  }
  .find{
    display: none;
  }
  .autos{
    margin-top: -100px;
  }
  .buttons{
    margin-right: 25px;
    width: 10%;
  }
  .menu{
    margin-bottom: 11px;
  }
  #app {
    background-repeat: no-repeat;
    background-image: url('../assets/res.home.jpg');
  }
  .bodys .title {
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .bodys .subtitle {
  font-size: 37px;
  width: 320px;
  height:96px;
  }
  .bodys {
    top: 31%;
    left: 49%;
  }
  .bodys button {
    padding: 1.2rem 5.9rem;
  }
  .pt-5 {
    padding-top: 3rem !important;
    width: 107%;
  }
  .carrs{
    width:178px;
    height: 85px;
  }
  #app:hover {
    background-position-x: initial; /* Reset background position on hover for smaller screens */
  }
  #app:hover .bodys p,
  #app:hover .bodys .title,
  #app:hover .bodys .subtitle,
  #app:hover .bodys button {
    transform: none; /* Reset transform on hover for smaller screens */
  }
  }
